* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 2rem;
  background-color: black;
  color: white;
  font-family: sans-serif;
  font-size: 1.5rem;
}

main {
  display: grid;
  gap: 1ch;
}

@media (width >= 500px) {
  main {
    grid-template-columns: 1fr 1fr;
  }
}
